<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <div class="carousel-inner" style="  height: 739px;">
    <% @home.images.each_with_index do |image, index| %>
      <div class='item <%= "#{ index.zero? ? 'active' : '' }" %> '>
        <img src="<%= image.url %>" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1><%= image.tagline %></h1>
              <p><%= image.caption %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div><!-- /.carousel -->
</div>
