<div class="item active">
  <img src="https://s3-us-west-2.amazonaws.com/turing-gallery/photographer.png" alt="First slide">
    <div class="container">
      <div class="carousel-caption about-caption">
      <h1>Larry Lens</h1>
        <p>Professional Photographer</p>
        <%= link_to 'Home', root_path, class: "btn btn-default" %>
      </div>
    </div>
  </div>
