<div class="item active">
  <div class="img">
    <img src="https://s3-us-west-2.amazonaws.com/turing-gallery/portrait.png" width="500" height="500">
  </div>
    <div class="container">
      <div id="bio-position">
      <h1>Gallery</h1>
        <h3>Professional Photography</h3>
          <p>Photographer's Bio Here</p>
        <%= link_to 'Home', home_path(@business.slug), class: "btn btn-default" %>
      </div>
    </div>
</div>
